## 2.6.1.1.save_csv

In [1]:
import csv

In [2]:
# file open, newline=''으로 개행문자 지정
with open('top_cities.csv', 'w', newline='') as f:
    # csv.writer는 파일 객체를 매개변수로 지정
    writer = csv.writer(f)
    
    # 첫 번째 줄에는 헤더를 작성
    writer.writerow(['rank', 'city', 'population'])
    
    # writerows()에 리스트를 전달하면 여러 개의 값을 출력
    writer.writerows([
        [1, '상하이', 24150000],
        [2, '카라치', 23500000],
        [3, '베이징', 21516000],
        [4, '텐진', 14722100],
        [5, '이스탄불', 14160467]
    ])

## 2.6.1.2.save_csv_dict

In [3]:
import csv

In [4]:
with open('top_cities.csv', 'w', newline='', encoding='utf-8') as f:
    # 첫 번째 매개변수에 파일 객체
    # 두 번째 매개변수에 필드명 리스트를 지정
    writer = csv.DictWriter(f, ['rank', 'city', 'population'])
    
    # 첫 번째 줄에 헤더를 입력
    writer.writeheader()
    
    # writerows()로 여러 개의 데이터를 딕셔너리 형태로 작성
    writer.writerows([
        {'rank':1, 'city':'상하이', 'population':24150000},
        {'rank':2, 'city':'카라치', 'population':23500000},
        {'rank':3, 'city':'베이징', 'population':21516000},
        {'rank':4, 'city':'텐진', 'population':14722100},
        {'rank':5, 'city':'이스탄불', 'population':14160467}
    ])

## 2.6.1.3.encoding_check

In [5]:
import chardet

In [6]:
char_dic = chardet.detect(open('top_cities.csv', 'rb').read())

In [7]:
char_dic['encoding']

'utf-8'

## 2.6.2.1.save_json

In [8]:
import json

In [9]:
cities = [
    {'rank':1, 'city':'상하이', 'population':24150000},
    {'rank':2, 'city':'카라치', 'population':23500000},
    {'rank':3, 'city':'베이징', 'population':21516000},
    {'rank':4, 'city':'텐진', 'population':14722100},
    {'rank':5, 'city':'이스탄불', 'population':14160467}
]

In [10]:
with open('top_cities.json', 'w') as fw:
    json.dump(cities, fw)

In [11]:
with open('top_cities.json', 'r') as fr:
    json_file = json.load(fr)
    print(json_file)

[{'rank': 1, 'city': '상하이', 'population': 24150000}, {'rank': 2, 'city': '카라치', 'population': 23500000}, {'rank': 3, 'city': '베이징', 'population': 21516000}, {'rank': 4, 'city': '텐진', 'population': 14722100}, {'rank': 5, 'city': '이스탄불', 'population': 14160467}]

## 2.6.3.1.save_sqlite3

In [12]:
import pandas as pd
import sqlite3
from pandas.io import sql
import os

In [13]:
DB_NAME = 'top_cities.db'
TABLE_NAME = 'TOP_CITIES'

In [14]:
def db_save(df, db_name, table_name):
    with sqlite3.connect(db_name) as con:
        try:
            df.to_sql(name=table_name, con=con, index=False, if_exists='append')
        except Exception as e:
            print(str(e))
        print(len(df), '건 저장완료')

In [15]:
def db_select(db_name, table_name):
    with sqlite3.connect(db_name) as con:
        try:
            query = 'SELECT * FROM {}'.format(table_name)
            df = pd.read_sql(query, con=con)
        except Exception as e:
            print(str(e))
        return df

In [16]:
def db_delete(db_name, table_name):
    with sqlite3.connect(db_name) as con:
        try:
            cur = con.cursor()
            sql = 'DELETE FROM {}'.format(table_name)
            cur.execute(sql)
        except Exception as e:
            print(str(e))

In [17]:
db_delete(DB_NAME, TABLE_NAME)

In [18]:
top_cities = pd.read_csv('top_cities.csv')
db_save(top_cities, DB_NAME, TABLE_NAME)

5 건 저장완료

In [19]:
df = db_select(DB_NAME, TABLE_NAME)
df

   rank  city  population
0     1   상하이    24150000
1     2   카라치    23500000
2     3   베이징    21516000
3     4    텐진    14722100
4     5  이스탄불    14160467