# 관광 현황 분석

## 2019년도와 2020년도 지역별 방문자 수 데이터 이용

In [1]:
import pandas as pd
import numpy as np

In [2]:
df2019 = pd.read_csv('2019 지역별 방문자 수.csv', encoding='euc-kr')
df2019

      광역지자체      방문자 수
0     서울특별시  676239448
1     부산광역시  154956548
2     대구광역시  107487542
3     인천광역시  186061142
4     광주광역시   66038784
5     대전광역시   83628100
6     울산광역시   48862667
7   세종특별자치시   25285404
8       경기도  664749407
9       강원도  145612023
10     충청북도  105848957
11     충청남도  156262000
12     전라북도   93066716
13     전라남도  119694029
14     경상북도  173737828
15     경상남도  153464716
16  제주특별자치도   58816696

In [3]:
df2020 = pd.read_csv('2020 지역별 방문자 수.csv', encoding='euc-kr')
df2020

      광역지자체      방문자 수
0     서울특별시  486063680
1     부산광역시  125355958
2     대구광역시   86338895
3     인천광역시  137306507
4     광주광역시   56689650
5     대전광역시   69557253
6     울산광역시   43482816
7   세종특별자치시   23948388
8       경기도  550763372
9       강원도  131296509
10     충청북도   93486231
11     충청남도  138698894
12     전라북도   83939339
13     전라남도  110730837
14     경상북도  152858211
15     경상남도  139633588
16  제주특별자치도   46601527

In [4]:
df = pd.merge(df2019, df2020, how='outer', on='광역지자체')
df

      광역지자체    방문자 수_x    방문자 수_y
0     서울특별시  676239448  486063680
1     부산광역시  154956548  125355958
2     대구광역시  107487542   86338895
3     인천광역시  186061142  137306507
4     광주광역시   66038784   56689650
5     대전광역시   83628100   69557253
6     울산광역시   48862667   43482816
7   세종특별자치시   25285404   23948388
8       경기도  664749407  550763372
9       강원도  145612023  131296509
10     충청북도  105848957   93486231
11     충청남도  156262000  138698894
12     전라북도   93066716   83939339
13     전라남도  119694029  110730837
14     경상북도  173737828  152858211
15     경상남도  153464716  139633588
16  제주특별자치도   58816696   46601527

In [5]:
df.rename(columns = {'방문자 수_x': '2019', '방문자 수_y': '2020'}, inplace = True)
df

      광역지자체       2019       2020
0     서울특별시  676239448  486063680
1     부산광역시  154956548  125355958
2     대구광역시  107487542   86338895
3     인천광역시  186061142  137306507
4     광주광역시   66038784   56689650
5     대전광역시   83628100   69557253
6     울산광역시   48862667   43482816
7   세종특별자치시   25285404   23948388
8       경기도  664749407  550763372
9       강원도  145612023  131296509
10     충청북도  105848957   93486231
11     충청남도  156262000  138698894
12     전라북도   93066716   83939339
13     전라남도  119694029  110730837
14     경상북도  173737828  152858211
15     경상남도  153464716  139633588
16  제주특별자치도   58816696   46601527

In [6]:
df['diff'] = df['2019'] - df['2020']
df

      광역지자체       2019       2020       diff
0     서울특별시  676239448  486063680  190175768
1     부산광역시  154956548  125355958   29600590
2     대구광역시  107487542   86338895   21148647
3     인천광역시  186061142  137306507   48754635
4     광주광역시   66038784   56689650    9349134
5     대전광역시   83628100   69557253   14070847
6     울산광역시   48862667   43482816    5379851
7   세종특별자치시   25285404   23948388    1337016
8       경기도  664749407  550763372  113986035
9       강원도  145612023  131296509   14315514
10     충청북도  105848957   93486231   12362726
11     충청남도  156262000  138698894   17563106
12     전라북도   93066716   83939339    9127377
13     전라남도  119694029  110730837    8963192
14     경상북도  173737828  152858211   20879617
15     경상남도  153464716  139633588   13831128
16  제주특별자치도   58816696   46601527   12215169

In [7]:
df = df.sort_values(by=df.columns[3], ascending=False)
df

      광역지자체       2019       2020       diff
0     서울특별시  676239448  486063680  190175768
8       경기도  664749407  550763372  113986035
3     인천광역시  186061142  137306507   48754635
1     부산광역시  154956548  125355958   29600590
2     대구광역시  107487542   86338895   21148647
14     경상북도  173737828  152858211   20879617
11     충청남도  156262000  138698894   17563106
9       강원도  145612023  131296509   14315514
5     대전광역시   83628100   69557253   14070847
15     경상남도  153464716  139633588   13831128
10     충청북도  105848957   93486231   12362726
16  제주특별자치도   58816696   46601527   12215169
4     광주광역시   66038784   56689650    9349134
12     전라북도   93066716   83939339    9127377
13     전라남도  119694029  110730837    8963192
6     울산광역시   48862667   43482816    5379851
7   세종특별자치시   25285404   23948388    1337016

## 방문자 수 차이가 가장 큰 지역대로 시각화

In [8]:
import folium
import requests
import json
from folium import plugins

In [9]:
m = folium.Map(location=[36, 127], tiles = "OpenStreetMap", zoom_start = 6)
m

In [10]:
m.choropleth(
    geo_data = state_geo,
    data = df,
    columns = ['광역지자체', 'diff'],
    key_on = 'feature.properties.name',
    fill_color = 'YlGn',
    fill_opacity=0.7,
    line_opacity=0.3,
    color='gray',
    legend_name = '지역별 방문자 수 차이'
).add_to(m)

NameError: name 'state_geo' is not defined